.resume {
    padding-bottom: 120px;
    &__title {
        text-align: center;
        position: relative;
        @include before_circle;
        &:before {
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__subtitle {
        text-align: center;
    }
    &__grid {
        padding: 50px 65px 0 65px;
        display: grid;
        grid-template-columns: repeat(2, 425px);
        column-gap: 135px;
    }
    &__column {
        &-title {
            position: relative;
            padding-left: 35px;
            &::before {
                position: absolute;
                content: '';
                width: 15px;
                height: 15px;
                background: $main-color;
                border-radius: 100%;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                &::after {
                    position: absolute;
                    content: '';
                    width: 1px;
                    height: calc(100% + 15.6px);
                    top: -15.6px;
                    left: 0;
                    background-color: #FFFFFF;
                }
            }
        }
    }
    &__item {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            height: 1px;
            width: 45px;
            background-color: #FFFFFF;
            top: 52px;
        }
        &-head {
            position: relative;
            padding: 30px 0 0 100px;
            h4 {
                margin-bottom: 0;
            }
        }
        &-body {
            padding-left: 43px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
        }
        &-icon {
            position: absolute;
            top: 35px;
            left: 45px;
            @include before_circle;
            img {
                position: absolute;
                left: 17px;
                top: 14px;
            }
        }
        &-location {
            color: #FFFFFF;
            font-size: 12px;
            line-height: 10px;
            margin-top: 5px;
        }
    }
}